
<div class="body ">
  <div class="titulo">
  <h3>Registros</h3>
</div>

  <div class="row container">
    <div (click)="selectItem(item)" class="card green" *ngFor="let item of dadosDaApi">
      <div>
      <h2>{{item.nome}}</h2>
      <p># {{item.id}}</p>
      <p>E-mail: {{item.email}}</p>
      <div>
        <span>Status:</span>
        <span class="nao-validado" *ngIf="item.validacao==0"> Não validado</span>
        <span class="validado" *ngIf="item.validacao!==0">Validado</span>
      </div>
      <div *ngIf="item == selectedItem">
        <br>
      <p>CPF: {{item.cpf}}</p>
      <p>conhecimentos: {{item.conhecimentos}}</p>
      <p>Celular: {{item.celular}}</p>
      <p >Validação: {{item.datavalidacao}}</p>
      <p>Criado em: {{item.created_at}}</p>
      <a routerLink="/{{item.nome}}/validar"><button >Ver detalhes</button></a>
      </div>
      </div>
    </div>

  </div>
</div>

