<p>details</p>



<div class="card">
  <div class="card-image">
    <img src="https://icon-library.com/images/person-png-icon/person-png-icon-29.jpg" alt="Foto da Pessoa">
  </div>
  <div class="card-content">
    <h2>{{dadosDetails.nome}}</h2>
    <p>{{dadosDetails.conhecimentos}}</p>
    <div class="card-info">
      <div class="card-info-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Cidade, País</span>
      </div>
      <div class="card-info-item">
        <i class="fas fa-envelope"></i>
        <a href="mailto:email@exemplo.com">email@exemplo.com</a>
      </div>
      <div class="card-info-item">
        <button>validar</button>
      </div>
    </div>
  </div>
</div>
