<div class="titulo">
<h2>Detalhes</h2>
<a routerLink="/registros"><button>Voltar</button></a>
</div>



<div class="card">
  <div class="card-image">
    <img *ngIf="dadosDetails.validacao==0" src="https://icon-library.com/images/person-png-icon/person-png-icon-29.jpg" alt="Foto da Pessoa">
    <img *ngIf="dadosDetails.validacao!==0" src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-1/512/check_user_man-512.png" alt="Foto da Pessoa">
  </div>
  <div class="card-content">
    <h2>{{dadosDetails.nome}}</h2>
    <div class="card-info-item">
      <p>id #{{dadosDetails.id}}</p>
      <p>conhecimentos: {{dadosDetails.conhecimentos}}</p>
      <p>{{dadosDetails.cpf}}</p>
      <a href="mailto:{{dadosDetails.email}}">{{dadosDetails.email}}</a>
        <p>{{dadosDetails.celular}}</p>
    </div>
    <div class="card-info">
      <div class="card-info-item">
        <i class="fas fa-envelope"></i>

        <div>
          <span>Status:</span>
          <span class="nao-validado" *ngIf="dadosDetails.validacao==0"> Não validado</span>
          <span class="validado" *ngIf="dadosDetails.validacao!==0">Validado</span>
        </div>
        <p>Data da validação: {{dadosDetails.datavalidacao}}</p>
        <p>Criado em: {{dadosDetails.created_at}}</p>
        <div class="centro">
        <button (click)="mudaStatus()" class="btn">Mudar status</button>
      </div>
      </div>
    </div>
  </div>
</div>
