<h2>formulario</h2>
Bem vindo <span><b>{{nome}}</b></span> preencha o formulário a seguir <br>

<div>
<form (submit)="onSubmit()">
  <div *ngIf="msg" class="aviso">
    <p>{{ msg }}</p>
  </div>

  <label for="name">Nome*</label>
  <input type="text" [(ngModel)]="name" maxlength="100" name="name">
  <label for="name">E-mail*</label>
  <input type="email" [(ngModel)]="email" maxlength="100" name="email">
  <label for="name">CPF*</label>
  <input type="text" [(ngModel)]="cpf" maxlength="14" id="cpf" name="cpf" placeholder="___.___.___-__">
  <label for="name">Fone</label>
  <input type="text" [(ngModel)]="phone" placeholder="(__) _ _____-____" class="telefone" id="telefone" maxlength="16" name="phone">
  <label for="name">Conhecimentos*</label>
  <select [(ngModel)]="knowledge" name="knowledge">
    <option value="php">PHP</option>
    <option value="node">Node.js</option>
    <option value="devops">DevOps</option>
  </select>
  <button type="submit">envia</button>
</form>
</div>

